.page-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgb(43, 45, 92);
  color: rgb(255, 255, 255);
  padding-left: 13.4375%;
  padding-right: 13.4375%;
}

.page-footer__container--first-column {
  width: 200px;
}
